@model CustomersOrders.Models.Customers

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/ordersHistory.css" rel="stylesheet"/>
<div class="row text-light">
    <div class="col-md-8 offset-2">
        @*Main Header*@
        <div class="text-center text-info">
            <h2>Your Order History</h2>
        </div>
        @*Data Table*@
        <div>
            <table class="table">
                <thead class="text-info">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                           @* @Html.DisplayNameFor(model => model.Products)*@
                           Product Name
                        </th>
                        <th>Product Price</th>

                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            @Html.DisplayFor(model =>model.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Mobile)
                        </td>
                        <td>
                            @foreach (var item in Model.Products)
                            {
                              <p>@item.Name</p>
                            }
                        </td>  
                        <td>
                            @foreach (var item in Model.Products)
                            {
                              <p>@item.Price</p>
                            }
                        </td> 
                    </tr>

                </tbody>
            </table>

</div>
        @*Links*@
        <div>
            <a asp-action="Index" class="text-info text-decoration-none">Back to List</a>
        </div>
</div>
</div>


